$font-family: 'Josefin Sans',
sans-serif;
$font-size: 14px;
$color: #000;
$red-color: #ff260e;
$red-light-color: #ffd7d6;
$green-color: #007f00;
$orange-color: orange;
$green-light-color: #c7efcc;
$button-border-color: #7b7b7b;
$button-background-color: #e1dfe0;
$default-button-background-color: #eec632;
$no-extension-color: #ff8400;
$no-file-bg-color: #ffe5c9;
$no-file-color: #ff531a;
$nav-arrow-border-color: #8e8e8e;
$nav-arrow-color: #fe8d00;